body{
    margin:0px;
    font-family:Courier New;
    background-color: #e8e5e8;
    }
    .nav{
        
        background-color: #f1f1f1;
        overflow: hidden;
        text-align: center;
        
    }
    
   
   .nav > .nav-links {
        
       
        color: black;
        padding: 0px;
        text-decoration: none;
        text-align: center;
       
        
     }
    .nav li{
        float:left;
       
        display:inline;
        text-align: center;
    
    }
    .nav > .nav-links > ul li a{
    color: rgb(0, 0, 0);
    font-size:18px;
    padding: 0 8px;
    text-decoration: none;
   
    }
    .nav > .nav-links > ul li{
     background-color: rgb(255, 255, 255);
    
    }
    .nav > .nav-links > ul li:hover{
    background-color:coral;
    
    }
    opopop
 
    ul{
        display:inline-block;
        vertical-align: center;
        
    }
    .nav > .socials > .Social-links > ul li a{
        margin-left: 2700%;
        margin-right: 0%;
    }

    
   

   
    
    .appy iframe{
        margin-left:40%;
    }
    img{
        margin-left:40%;
        margin-top:15%;
    }